<div class="header">
    <div class="navigation-pill-list">
        <div class="navigation-pill">
            <a href="/">Home</a>
        </div>
        <div class="navigation-pill">
            <a href="/products">Product</a>
        </div>
        <div class="navigation-pill">
            <a href="/addproduct">Add product</a>
        </div>
        <div class="navigation-pill">
            <a href="/contactus">Contact</a>
        </div>
        <% if (!isLoggedIn) { %> 
        <div class="navigation-pill">
            <a href="/auth/login">Sign in</a>
        </div>
        <div class="navigation-pill">
            <a href="/auth/register">Register</a>
        </div>
        <% } %> 
    </div>
    <div class="user-icon">
        <a href="/profile">
            <img src="/profile.png" alt="User Icon">
        </a>
    </div>
</div>